openapi: 3.0.0
info:
  version: 1.0.0
  title: Seers API
  termsOfService: 'https://columbusx.io/terms/'
  contact:
    email: hello@columbusx.io
    url: 'http://seers.io/contact'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: ./logo.png
  description: >
    This is an **example** API to demonstrate features of OpenAPI specification

    # Introduction

    This specification is intended to to be a good starting point for describing
    your API in 

    [OpenAPI/Swaggerformat](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md).

    It also demonstrates features of
    [generator-openapi-repo](https://github.com/Rebilly/generator-openapi-repo)
    tool and 

    [ColumbusX-API](https://github.com/mckinley-and-rice/columbusx-api)
    documentation engine. So beyond the standard OpenAPI syntax we use a few 

    [vendor
    extensions](https://github.com/mckinley-and-rice/columbusx-api/blob/master/docs/redoc-vendor-extensions.md).


    # OpenAPI Specification

    The goal of The OpenAPI Specification is to define a standard,
    language-agnostic interface to REST APIs which

    allows both humans and computers to discover and understand the capabilities
    of the service without access to source

    code, documentation, or through network traffic inspection. When properly
    defined via OpenAPI, a consumer can 

    understand and interact with the remote service with a minimal amount of
    implementation logic. Similar to what

    interfaces have done for lower-level programming, OpenAPI removes the
    guesswork in calling the service.
externalDocs:
  description: Find out how to create Github repo for your OpenAPI spec.
  url: 'https://github.com/mckinley-and-rice/seers-api'
tags:
  - name: Echo
    description: Example echo operations
  - name: User
<<<<<<< HEAD
    description: Operations about Doctor and Patient
  - name: Measurement
    description: Operations on Measurement
  - name: Assessment
    description: Operations on Assessment
  - name: Appointment
    description: Operations on Appointment
  - name: Video Session
    description: Operations on Video Session
  - name: photo sharing
    description: Operations on photos
  - name: Educational Videos
    description: Operations on Educational Videos
  - name: Portal Control
    description: Operations for Portal Control
  - name: Admin Services
    description: Operations about Admin Services
  - name: Payment
    description: Operations about Payment
  - name: Recommendation
    description: Operations about Doctor Recommedation
=======
    description: Operations about user
>>>>>>> parent of 7add5d4... New tags and functionality added
servers:
  - url: 'http://seers.io/api/v1'
  - url: 'https://seers.io/api/v1'
  - url: 'http://seers.com/api/v1'
  - url: 'https://seers.com/api/v1'
