openapi: 3.0.0
info:
  version: 1.0.2
  title: seers
  termsOfService: 'https://seers.io/terms/'
  contact:
    email: admin@mckinleyrice.com
    url: 'http://seers.io/contact'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: ./logo.png
  description: >
    This is an Seers API to demonstrate features of seers API specification


    # Introduction

    This specification is intended to to be a good starting point for describing
    your API in It also demonstrates features of
    [generator-openapi-repo](https://github.com/Rebilly/generator-openapi-repo)
    tool and 

    [seers-API](https://github.com/mckinley-and-rice/seers-api) documentation
    engine. So beyond the standard SewersAPI syntax we use a few 

    [vendor
    extensions](https://github.com/mckinley-and-rice/seers-api/blob/master/docs/redoc-vendor-extensions.md).


    # Status header response code:

    500 - Internal Server Error


    401 - Unauthorized. Token invalid


    200 - OK


    404 - Not Found
externalDocs:
  description: Find out how to create Github repo for your OpenAPI spec.
  url: 'https://github.com/mckinley-and-rice/seers-api'
tags:
  - name: Status
    description: Status echo operations for server
  - name: Echo
    description: Example echo operations
  - name: User
    description: Operations about Doctor and Patient user
  - name: Educational Videos
    description: Operations about educational Videos for Patients
  - name: Authentication
    description: All Operations about authentication for ALl users
  - name: Registration
    description: All Operations about authentication for ALl users
  - name: Admin User
    description: Operations about Admin user
servers:
  - url: 'https://seersapi.mckinleyrice.com/api/v1'
